*{
    margin: 0;
    padding: 0;
}

body{
    background: url(bg6.jpg);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;;
    
}

.logo img{
    width: 167px;
    height: 100px;
    padding-left: 15px;
    cursor: pointer;
    
}

.container{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    width: 440px;
    height: 560px;
    margin: auto;
    padding: 30px; 
    border-radius: 10px;  
    margin-bottom: 100px;
}

.input-group .input1{
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
    background-color: rgb(51, 51, 51);
    padding: 15px 30px;
    margin-left: 45px;
    margin-bottom: 15px;
    width: 292px;
    border-radius: 5px;
    color: whitesmoke;
}

.input-group .input2{
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
    background-color: rgb(51, 51, 51);
    padding: 15px 30px;
    margin-left: 45px;
    width: 292px;
    border-radius: 5px;
    color: whitesmoke;
    
}

.input-group input:focus{
    outline: 0;
}


h2{
    font-size: 32px;
    font-weight: 650;
    text-align: left;
    margin-top: 30px;
    margin-left: 45px;
    margin-bottom: 30px;
}

button{
    flex: 1;
    border: 0;
    outline: 0;
    margin-top: 30px;
    margin-left: 20px;
    background-color: rgb(299, 9, 20);
    padding: 15px 30px;
    margin-left: 45px;
    width: 352px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: aliceblue;
    cursor: pointer;
}

.chxbox{
    margin-left: 45px;
    margin-top: 10px;
    color: rgb(125, 119, 119);
}

input[type=checkbox]{
    width: 25px;
    height: 18px;
    border-radius: 5px;
    margin-top: 10px;  
}

.chxbox a{
    margin-left: 160px;
    margin-top: 10px;    
    color: rgb(125, 119, 119);
    text-decoration: none;
}

.chxbox a:hover{
    text-decoration: underline rgb(125, 119, 119) ;

    
}

.signup{
    margin-left: 45px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(125, 119, 119);
    cursor: pointer;
}

.signup a{
    
    color: white;
}

.signup a:hover{
    text-decoration: underline;
}

.bot{
    width: 100%;
    margin-top: 10px;
}

.bot a{
    color: blue;
    margin-left: 0px;
    padding: 5px;
}

.footer{
    height: 300px;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(125, 119, 119);
}

.foot1{
    
    margin-left: 200px;
    padding: 50px;
    padding-left: 0px;
}

.foot1 a:hover{
    text-decoration: underline;
}

.foot2{
    display: flex;
}

.faq{
    margin-left: 200px;
}

.faq:hover{
    text-decoration: underline;
}

.help{
    margin-left: 150px;
    width: 100px;
}

.help:hover{
    text-decoration: underline;
}

.terms{
    margin-left: 150px;
    width: 100px;
}

.terms:hover{
    text-decoration: underline;
}

.privacy{
    margin-left: 150px;
}

.privacy:hover{
    text-decoration: underline;
}

.foot3{
    display: flex;
}

.cookie{
    margin-top: 20px;
    margin-left: 200px;
}

.cookie:hover{
    text-decoration: underline;
}

.corp{
    margin-top: 20px;
    margin-left: 60px;
}

.corp:hover{
    text-decoration: underline;
}

.dropbox{
    margin-top: 30px;
    margin-left: 200px;
}
